body {
	font-family: Roboto,arial,sans-serif;
	font-size: 14px;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 9px;
	justify-content: space-between;
}

.nav-link {
	padding: 6px;
	position: relative;
	align-self: center;
}

#pfp {
	border-radius: 50%;
	width: 45%;
	height: 100%;
	position: relative;
}

#app-icon {
	color: gray;
	padding: 4px;
}

#right-navbar {
	display: flex;
	justify-content: center;
}

#google-image {
	padding: 3px;
	display: flex;
	justify-content: center;
}

#search {
	position: relative;		
	width: -webkit-fill-available;
}

#search-field {
	width: 50%;
	margin: 0 auto;
}
